<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="/img/background.webp"
      type="image/webp"
    />
    <link rel="icon" type="image/x-icon" href="/img/logo.webp" />
    <link rel="stylesheet" href="/css/templates.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap"
    />
    <link
      rel="preload"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <title>Dijital QR Kod Menü - Tema Satın Al | QRMenux</title>
    <meta
      name="description"
      content="QR Kod Menü - Karekod Menü ile menü masraflarınızı sıfırlayın, menünüzü dijitale taşıyım ve müşteri memnuniyetini arttırın. Çoklu dil ve çoklu para birimi modülleri ile teknolojiye ayak uydurun."
    />
    <link href="https://qrmenux.com/tr/templates" rel="canonical" />
    <link
      href="https://qrmenux.com/templates"
      hreflang="x-default"
      rel="alternate"
    />
    <link href="https://qrmenux.com/templates" hreflang="en" rel="alternate" />
    <link
      href="https://qrmenux.com/tr/templates"
      hreflang="tr"
      rel="alternate"
    />
  </head>
  <body>
    <div class="vh100">
      <header>
        <a href="/">
          <img src="/img/logo.webp" alt="QRMenux" />
        </a>
        <nav>
          {{#if user}}
            <div class="sections">
              <ul>
                <li
                  class="langli"
                  onmouseenter="showlang()"
                  onmouseleave="removelang()"
                ><div>Dil Seçin <i class="fa-solid fa-arrow-down"></i></div>
                  <div class="langsection">
                    <div class="body">
                      <a href="/"><span class="fi fi-gb-eng"></span>
                        İngilizce</a>
                      <a href="/tr"><span class="fi fi-tr"></span> Türkçe</a>
                    </div>
                  </div>
                </li>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="/user/dashboard">{{user.username}}</a></li>
                <li><a href="/user/dashboard">Yönetim Paneli</a></li>
                <li><a href="/user/logout">Çıkış Yap</a></li>
              </ul>
            </div>
            <div class="mobilesection">
              <ul>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="/user/dashboard">{{user.username}}</a></li>
                <li><a href="/user/dashboard">Yönetim Paneli</a></li>
                <li><a href="/user/logout">Çıkış Yap</a></li>
              </ul>
            </div>
          {{else}}
            <div class="sections">
              <ul>
                <li
                  class="langli"
                  onmouseenter="showlang()"
                  onmouseleave="removelang()"
                ><div>Dil Seçin <i class="fa-solid fa-arrow-down"></i></div>
                  <div class="langsection">
                    <div class="body">
                      <a href="/"><span class="fi fi-gb-eng"></span>
                        İngilizce</a>
                      <a href="/tr"><span class="fi fi-tr"></span> Türkçe</a>
                    </div>
                  </div>
                </li>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="/tr/register">Üye Ol</a></li>
                <li><a href="/tr/login">Giriş</a></li>
              </ul>
            </div>
            <div class="mobilesection">
              <ul>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="/tr/register">Üye Ol</a></li>
                <li><a href="/tr/login">Giriş</a></li>
              </ul>
            </div>
          {{/if}}
          <div class="hamburger">
            <i class="fas fa-hamburger"></i>
          </div>
        </nav>
      </header>

      <section class="main">
        <div class="container">
          <div class="inline">
            <h3>QRMenux Classic</h3>
            <div class="imagediv">
              <img
                src="/img/qr_menu_tr1.webp"
                alt="Çoklu Dil QR Menü"
                loading="lazy"
              />
            </div>
            <div class="pricediv">
              <span>120 ₺</span>
            </div>
            <div class="call">
              <a href="/tr/register">Satın Al</a>
            </div>
          </div>
          <div class="inline">
            <h3>QRMenux Golden</h3>
            <div class="imagediv">
              <img
                src="/img/qr_menu2_tr1.webp"
                alt="Çoklu Dil QR Menü"
                loading="lazy"
              />
            </div>
            <div class="pricediv">
              <span>120 ₺</span>
            </div>
            <div class="call">
              <a href="/tr/register">Satın Al</a>
            </div>
          </div>
          <div class="inline">
            <h3>Normal Plan</h3>
            <div class="imagediv">
              <img
                src="/img/qr_menu_tr1.webp"
                alt="Çoklu Dil QR Menü"
                loading="lazy"
              />
            </div>
            <div class="pricediv">
              <span>120 ₺</span>
            </div>
            <div class="call">
              <a href="/tr/register">Satın Al</a>
            </div>
          </div>
        </div>
      </section>
    </div>

    <footer>
      <section>
        <div class="container">
          <div class="copyright">
            © 2023 QRMenux Yeni Mahalle, Isfendiyar Sokak, No: 10, Merkez
            Cankiri 18100, Turkey
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>