<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <h1>logo</h1>
      </div>
      <div class="sections">
        <ul>
          <li>Anasayfa</li>
          <li>Fiyatlar</li>
          <li>Hakkımızda</li>
          <li>Giriş</li>
        </ul>
      </div>
    </nav>

    <section class="landing">
      <div class="container">
        <div class="leftdiv">
          <h1>QR Menümüz ile Tanışın</h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui
            facere eaque excepturi adipisci cum a quidem corporis accusamus non
            ipsam, officia voluptatum est laboriosam repudiandae et consequuntur
            quisquam amet dolores?
          </p>

          <div class="call">
            <a href="#" class="first">Demo</a>
            <a href="#" class="last">Try Free !</a>
          </div>

        </div>
        <div class="rightdiv">
          <div class="imagediv">
            <img src="/images/landing1.webp" alt="" />
          </div>
        </div>
      </div>
      <div class="bottom">
        <i class="fa-solid fa-angles-down"></i>
      </div>
    </section>

    <section class="landing-2">
      <div class="container">
        <div class="leftdiv">

          <img src="/images/qr1.png" alt="" />

        </div>
        <div class="rightdiv">

          <h1>Baslik</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
            possimus perspiciatis quae veritatis ipsam alias corrupti
            reprehenderit! Consectetur, accusamus animi? A, perspiciatis. A
            porro, atque ad aperiam consequuntur nulla architecto.</p>

          <div class="call">
            <a href="#">İnceleyin</a>
          </div>
        </div>
      </div>
    </section>
    <section class="landing-3">
      <div class="container">
        <div class="leftdiv">
          <h1>Baslik</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
            possimus perspiciatis quae veritatis ipsam alias corrupti
            reprehenderit! Consectetur, accusamus animi? A, perspiciatis. A
            porro, atque ad aperiam consequuntur nulla architecto.</p>
          <div class="call">
            <a href="#">İnceleyin</a>
          </div>
        </div>
        <div class="rightdiv">
          <img src="/images/qr2.png" alt="" />
        </div>
      </div>
    </section>

    <section class="price">
      <div class="container">
        <div class="trial">
          <h3>Deneme Sürümü</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 14 Gün Ücretsiz Deneyin</li>
            <li> <i class="fa-solid fa-check"></i> 1 Menü Ekleme Hakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Kategori EklemeHakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Ürün Ekleme Hakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Resim Ekleme Hakkı
            </li>
            <li> <i class="fa-solid fa-check"></i> Reklam Yok !</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Kart Gerekli Değil !</li>
          </ul>
          <div class="call">
            <a href="#">Deneyin !</a>
          </div>
        </div>
        <div class="price1">
          <h3>Normal Plan</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 2 Menü Ekleme Hakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Kategori Ekleme Hakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Ürün Ekleme Hakkı
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Resim Ekleme Hakkı
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Restorana Özel Sayfa (logo dahil)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              İletişim ve Sosyal Medya butonları
            </li>

          </ul>
          <div class="call">
            <a href="#">Abone Ol !</a>
          </div>
        </div>
        <div class="price2">
          <h3>Maxi Plan</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 5 Menü Ekleme Hakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Kategori Ekleme Hakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Ürün Ekleme Hakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Resim Ekleme Hakkı
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Restorana Özel Sayfa (logo dahil)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              İletişim ve Sosyal Medya butonları
            </li>
          </ul>

          <div class="call">
            <a href="#">Abone Ol !</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>