<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <h1>logo</h1>
      </div>
      <div class="sections">
        <ul>
          <li>Anasayfa</li>
          <li>Fiyatlar</li>
          <li>Hakkımızda</li>
          <li>Giriş</li>
        </ul>
      </div>
    </nav>

    <section class="landing">
      <div class="container">
        <div class="leftdiv">
          <h1>QR Menümüz ile Tanışın</h1>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui
            facere eaque excepturi adipisci cum a quidem corporis accusamus non
            ipsam, officia voluptatum est laboriosam repudiandae et consequuntur
            quisquam amet dolores?
          </p>

          <div class="call">
            <a href="#">İnceleyin</a>
          </div>

        </div>
        <div class="rightdiv">
          <div class="imagediv">
            <img src="/images/landing1.webp" alt="" />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>