<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <h1>logo</h1>
      </div>
      <div class="sections">
        <ul>
          <li>Anasayfa</li>
          <li>Fiyatlar</li>
          <li>Hakkımızda</li>
          <li>Giriş</li>
        </ul>
      </div>
      <div class="mobilesection">
        <ul>
          <li>Anasayfa</li>
          <li>Fiyatlar</li>
          <li>Hakkımızda</li>
          <li>Giriş</li>
        </ul>
      </div>
      <div class="hamburger">
        <i class="fas fa-hamburger"></i>
      </div>
    </nav>

    <section class="landing">
      <div class="container">
        <div class="leftdiv">
          <h1>Meet our QR Menu with Ordering Feature</h1>
          <p>Introducing our innovative QR Menu with Ordering Feature - the
            must-have solution for modern restaurants and cafes! Say goodbye to
            traditional menus and long waiting times, and hello to a seamless
            and enjoyable customer experience.
          </p>

          <div class="call">
            <a href="#" class="first">Demo</a>
            <a href="#" class="last">Try Free !</a>
          </div>

        </div>
        <div class="rightdiv">
          <div class="imagediv">
            <img src="/img/landing1.png" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="bottom">
        <i class="fa-solid fa-angles-down"></i>
      </div>
    </section>

    <section class="landing-2">
      <div class="container">
        <div class="leftdiv">

          <img src="/img/qr1.png" alt="" />

        </div>
        <div class="rightdiv">

          <h2>Order Directly and Easily !</h2>
          <p>With our QR Menu, customers can easily scan the code with their
            smartphone to access the menu, and even place their orders directly
            from their device. This means no more waiting for a waiter to take
            their order, or having to handle physical menus that could
            potentially spread germs. It's a win-win situation for both
            customers and staff.</p>

          <div class="call">
            <a href="#">İnceleyin</a>
          </div>
        </div>
      </div>
    </section>
    <section class="landing-3">
      <div class="container">
        <div class="leftdiv">
          <h2>Elevate your business !</h2>
          <p>But that's not all - our QR Menu with Ordering Feature offers many
            benefits that are sure to elevate your business. For one, it
            increases efficiency by streamlining the ordering process and
            reducing wait times. This means more satisfied customers, faster
            table turnover, and increased revenue for your establishment.</p>
          <div class="call">
            <a href="#">İnceleyin</a>
          </div>
        </div>
        <div class="rightdiv">
          <img src="/img/qr2.png" alt="" />
        </div>
      </div>
    </section>

    <section class="landing-4">
      <div class="container">
        <div class="one">
          <img src="/img/home1.png" alt="" />
        </div>
        <div class="two">
          <img src="/img/home2.png" alt="" />
        </div>
        <div class="three">
          <img src="/img/home3.png" alt="" />
        </div>
        <div class="call">
          <h1>Professional Dashboard !</h1>
          <h5>In addition, our QR Menu is fully customizable to reflect your
            brand and menu offerings. You can easily update the menu items,
            prices, and descriptions as needed, and even include photos to
            showcase your dishes. Plus, our system allows you to track customer
            orders and preferences, providing valuable insights that can help
            you optimize your business operations.</h5>
        </div>
      </div>
    </section>

    <section class="landing-5">
      <div class="container">
        <h5>Don't miss out on the opportunity to provide your customers with a
          cutting-edge, seamless dining experience. Order our QR Menu with
          Ordering Feature today and take your business to the next level!</h5>
      </div>
    </section>

    <section class="price">
      <div class="container">
        <div class="trial">
          <h3>Deneme Sürümü</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 14 Gün Ücretsiz Deneyin</li>
            <li> <i class="fa-solid fa-check"></i> 1 Menü Ekleme Hakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Kategori EklemeHakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Ürün Ekleme Hakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Resim Ekleme Hakkı
            </li>
            <li> <i class="fa-solid fa-check"></i> Reklam Yok !</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Kart Gerekli Değil !</li>
          </ul>
          <div class="call">
            <a href="#">Deneyin !</a>
          </div>
        </div>
        <div class="price1">
          <h3>Normal Plan</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 2 Menü Ekleme Hakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Kategori Ekleme Hakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Ürün Ekleme Hakkı
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Resim Ekleme Hakkı
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Restorana Özel Sayfa (logo dahil)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              İletişim ve Sosyal Medya butonları
            </li>

          </ul>
          <div class="call">
            <a
              href="https://cagatayeren.lemonsqueezy.com/checkout/buy/2e469288-f7e3-47f6-b2ea-d46c5e8cce03?embed=1&dark=1"
              class="lemonsqueezy-button"
            >Abone Ol !</a>
          </div>
        </div>
        <div class="price2">
          <h3>Maxi Plan</h3>
          <ul>
            <li> <i class="fa-solid fa-check"></i> 5 Menü Ekleme Hakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Kategori Ekleme Hakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Ürün Ekleme Hakkı</li>
            <li>
              <i class="fa-solid fa-check"></i>
              Sınırsız Resim Ekleme Hakkı
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              Restorana Özel Sayfa (logo dahil)
            </li>
            <li>
              <i class="fa-solid fa-check"></i>
              İletişim ve Sosyal Medya butonları
            </li>
          </ul>

          <div class="call">
            <a href="#">Abone Ol !</a>
          </div>
        </div>
      </div>
    </section>

    <script src="https://assets.lemonsqueezy.com/lemon.js" defer></script>
    <script src="/js/hamburger.js"></script>
  </body>
</html>