@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* RESET CSS SONU */

:root {
  --first: #6c4ab6;
  --second: #8d72e1;
  --third: #8d9eff;
  --fourth: #b9e0ff;
}

body {
  background-color: var(--fourth);
  font-family: "IBM Plex Sans", sans-serif;
}

/* Landing Başlangıç */

.landing {
  height: 100vh;
}

.landing .container {
  display: grid;
  border-bottom: 10px solid var(--first);
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  padding: 0rem 10rem;
  align-items: center;
  background-image: url(../img/background.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing .container .rightdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 650px;
  width: 100%;
}

.landing .container .rightdiv .imagediv {
  animation: MoveUpDown 2s linear infinite;
  position: absolute;
}

.landing .container .rightdiv img {
  max-width: 450px;
  width: 100%;
  height: auto;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(-50px);
  }
}

.landing .container .leftdiv {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.landing .container .leftdiv h1 {
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bolder;
  font-size: 2.6rem;
}

.landing .container .leftdiv h1 span {
  text-decoration: underline;
}

.landing .container .leftdiv p {
  text-align: start;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.landing .container .leftdiv .call {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.landing .container .leftdiv a {
  background-color: var(--second);
  text-decoration: none;
  color: white;
  border: 2px solid var(--first);
  border-radius: 15px;
  padding: 1rem 2rem;
}

.landing .container .leftdiv .first {
  margin-right: 1rem;
}

.landing .container .leftdiv .last {
  margin-left: 1rem;
}

.bottom {
  justify-content: center;
  display: flex;
  height: 25%;
  align-items: center;
}

.bottom i {
  font-size: 5rem;
  color: var(--first);
}

@media screen and (max-width: 1200px) {
  .landing .container {
    padding: 0rem 4rem;
    height: 100%;
  }

  .landing .container .rightdiv {
    justify-content: center;
  }

  .landing .container .rightdiv img {
    max-width: 300px;
    width: 100%;
    height: auto;
  }

  .landing .container .call {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .landing .container .leftdiv .first {
    margin-right: 0rem;
  }

  .landing .container .leftdiv .last {
    margin-left: 0rem;
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .landing {
    height: fit-content;
  }

  .bottom {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .landing .container {
    padding: 0rem 2rem;
    height: fit-content;
    grid-template-columns: repeat(1, 1fr);
  }

  .landing .container .rightdiv {
    justify-content: center;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .landing .container .rightdiv img {
    max-width: 300px;
    width: 100%;
    height: auto;
  }

  .landing .container .leftdiv {
    grid-row-start: 2;
    grid-row-end: 3;
    padding-bottom: 2rem;
    text-align: center;
  }

  .landing .container .leftdiv p {
    font-size: 1.3rem;
  }
}

/* Landing Bitiş */

/* Tanitim-1 Başlangıç */

.landing-2 {
  border-top: 10px solid var(--first);
  background-color: var(--third);
}

.landing-2 .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 5rem 10rem;
  align-items: center;
  gap: 2rem;
}

.landing-2 .container .leftdiv {
  grid-column: 1/4;
}

.landing-2 .container .rightdiv {
  grid-column: 4/6;
}

.landing-2 .container .rightdiv .call {
  margin-top: 3rem;
  text-align: center;
}

.landing-2 .container .rightdiv a {
  background-color: var(--second);
  text-decoration: none;
  color: white;
  border: 2px solid var(--first);
  border-radius: 15px;
  padding: 1rem 2rem;
}

.landing-2 .container .rightdiv h2 {
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bolder;
  font-size: 2.6rem;
}

.landing-2 .container .rightdiv p {
  text-align: start;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.landing-2 .container .leftdiv {
  text-align: center;
}

.landing-2 .container .leftdiv img {
  max-width: 450px;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .landing-2 .container {
    padding: 4rem 4rem;
  }
}

@media screen and (max-width: 768px) {
  .landing-2 .container {
    padding: 4rem 2rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .landing-2 .container .leftdiv {
    grid-column: 1/2;
  }

  .landing-2 .container .rightdiv {
    grid-column: 1/2;
  }
}

/* Tanitim-1 Bitiş */

/* Tanitim-2 Başlangıç */

.landing-3 {
  border-top: 10px solid var(--first);
  background-color: var(--third);
}

.landing-3 .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 5rem 10rem;
  align-items: center;
  gap: 2rem;
}

.landing-3 .container .leftdiv {
  grid-column: 1/3;
}

.landing-3 .container .rightdiv {
  grid-column: 3/6;
}

.landing-3 .container .leftdiv .call {
  margin-top: 3rem;
  text-align: center;
}

.landing-3 .container .leftdiv a {
  background-color: var(--second);
  text-decoration: none;
  color: white;
  border: 2px solid var(--first);
  border-radius: 15px;
  padding: 1rem 2rem;
}

.landing-3 .container .leftdiv h2 {
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bolder;
  font-size: 2.6rem;
}

.landing-3 .container .leftdiv p {
  text-align: start;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.landing-3 .container .rightdiv {
  text-align: center;
}

.landing-3 .container .rightdiv img {
  max-width: 450px;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  .landing-3 .container {
    padding: 4rem 4rem;
  }
}

@media screen and (max-width: 768px) {
  .landing-3 .container {
    padding: 4rem 2rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .landing-3 .container .rightdiv {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .landing-3 .container .leftdiv {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

/* Tanitim-2 Bitiş */

/* Tanitim-3 Başlangıç */

.landing-4 {
  border-top: 10px solid var(--first);
  border-bottom: 10px solid var(--first);
  background-color: var(--third);
}

.landing-4 .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5rem 10rem;
  align-items: center;
  gap: 2rem;
}

.landing-4 .container .one {
  text-align: center;
}

.landing-4 .container .two {
  text-align: center;
}

.landing-4 .container .one img {
  max-width: 600px;
  width: 100%;
  height: auto;
}

.landing-4 .container .two img {
  max-width: 600px;
  width: 100%;
  height: auto;
}

.landing-4 .container .call {
  grid-column: 1/4;
}

.landing-4 .container .call h2 {
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bolder;
  font-size: 2.6rem;
}

.landing-4 .container .call p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .landing-4 .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 4rem;
  }
}

@media screen and (max-width: 768px) {
  .landing-4 .container {
    padding: 4rem 2rem;
    grid-template-columns: repeat(1, 1fr);
  }

  .landing-4 .container .one {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .landing-4 .container .two {
    grid-row: 2/3;
    grid-column: 1/2;
  }
}

/* Tanitim-3 Bitiş */

/* Tanitim-4 Başlangıç */

.landing-5 .container {
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

.landing-5 .container p {
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bolder;
  font-size: 2.6rem;
}

@media screen and (max-width: 1200px) {
  .landing-5 .container {
    padding: 4rem 4rem;
  }
}

@media screen and (max-width: 768px) {
  .landing-5 .container {
    padding: 4rem 2rem;
  }
}

/* Tanitim-4 Bitiş */

/* Fiyat Başlangıç */

/* .price {
  border-top: 10px solid var(--first);
} */

.price .container {
  padding: 5rem 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.price .container .trial {
  background-color: var(--third);
  padding: 2rem 3rem;
  border: 5px solid var(--first);
  border-radius: 10px;
}

.price .container .price1 {
  background-color: var(--third);
  padding: 2rem 3rem;
  border: 5px solid var(--first);
  border-radius: 10px;
}

.price .container .price2 {
  background-color: var(--third);
  padding: 2rem 3rem;
  border: 5px solid var(--first);
  border-radius: 10px;
}

.price .container h3 {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 5px solid var(--first);
  padding-bottom: 0.6rem;
}

.price .container ul {
  margin-top: 1rem;
}

.price .container ul li {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  text-align: start;
}

.price .container .pricediv {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.price .container .call {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.price .container a {
  background-color: var(--second);
  text-decoration: none;
  color: white;
  border: 2px solid var(--first);
  border-radius: 15px;
  padding: 1rem 2rem;
}

@media screen and (max-width: 1200px) {
  .price .container {
    padding: 4rem 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .price .container {
    padding: 4rem 2rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Fiyat Bitiş */

/* Footer Başlangıç */

footer section .container {
  padding: 5rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third);
}

footer section .container .copyright {
  font-size: 1.5rem;
}

/* Footer Bitiş */
