/*  NAVBAR BASLANGIC */

nav {
  display: flex;
  flex-direction: row;
  padding: 2rem 10rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--third);
  position: relative;
}

nav .sections ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

nav .sections ul li a {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
}

nav .hamburger {
  display: none;
  cursor: pointer;
}

nav .mobilesection {
  position: absolute;
  background-color: var(--second);
  width: 100%;
  text-align: center;
  left: 0;
  top: 80px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  z-index: 1;
}

nav .mobilesection ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

nav .mobilesection ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

nav .mobilesection {
  display: none;
}

@media screen and (max-width: 720px) {
  nav {
    padding: 2rem 2rem;
  }

  nav .sections ul {
    display: none;
  }

  nav .hamburger {
    display: block;
  }
}

/* NAVBAT BİTİS */
