<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/user/menu/edit" method="post" enctype="multipart/form-data">
      <input type="text" name="name" value="{{menu.Name}}" />
      <input
        type="file"
        name="image"
        id="image"
        onchange="showPreview(event);"
      />
      <input type="hidden" name="id" value="{{menu._id}}" />
      {{#if menu.image}}
        <img src="/images/{{menu.image}}" alt="" />
      {{/if}}
      <button type="submit">Post</button>
    </form>
    <div class="preview">
      <img id="file-ip-1-preview" />
    </div>

    <script>
      function showPreview(event){ if(event.target.files.length > 0){ var src =
      URL.createObjectURL(event.target.files[0]); var preview =
      document.getElementById("file-ip-1-preview"); preview.src = src;
      preview.style.display = "block"; } }
    </script>
  </body>
</html>