<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>QR Menux</title>
  </head>
  <body>
    <div class="vh100">
      <nav>
        <div class="logo">
          <a href="/">
            <i class="fas fa-2x fa-utensils"></i>
            <span>QR Menu</span>
          </a>
        </div>
        <div class="sections">
          <ul>
            <li><a href="/">Anasayfa</a></li>
            <li><a href="/user/register">Üye Ol</a></li>
            <li><a href="/user/login">Giriş</a></li>
          </ul>
        </div>
        <div class="mobilesection">
          <ul>
            <li><a href="/user/register">Üye Ol</a></li>
            <li><a href="/user/login">Giriş</a></li>
          </ul>
        </div>
        <div class="hamburger">
          <i class="fas fa-hamburger"></i>
        </div>
      </nav>

      <section class="register">
        <form action="/user/login" method="post">
          <div class="username">
            <label for="username">Kullanıcı Adı</label>
            <input type="text" name="username" />
          </div>
          <div class="password">
            <div class="pass1">
              <label for="password">Şifre</label>
              <input type="password" name="password" />
            </div>
          </div>
          <button type="submit">Giriş Yap</button>
        </form>
        {{#if error}}
          <div class="error">
            <div onclick="kapat()" class="errorclose">
              <h1>KAPAT</h1>
            </div>
            {{#each error}}
              <h4>{{this.message}}</h4>
            {{/each}}
          </div>
        {{/if}}
        {{#if oneerror}}
          <div class="error">
            <div onclick="kapat()" class="errorclose">
              <h1>KAPAT</h1>
            </div>
            <h4>{{oneerror}}</h4>
          </div>
        {{/if}}
      </section>
    </div>

    <script>
      const kapat = () =>
      document.getElementsByClassName("error")[0].style.display = "none"
    </script>
    <script src="/js/hamburger.js"></script>
  </body>
</html>