<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/user/register" method="post">
      <input type="text" name="username" />
      <input type="text" name="password" />
      <input type="text" name="email" />
      <button type="submit">Kayıt Ol</button>
    </form>

    {{#each error}}
      <h5>{{this.message}}</h5>
    {{/each}}
  </body>
</html>