body {
  background-color: #fcffe7 !important;
}

button {
  background-color: #bad7e9 !important;
  border: #eb455f 1px solid !important;
}

.menu--header {
  background-color: #bad7e9;
}

.menu--header h1 {
  color: #2b3467;
}

.headerlogo {
  width: 250px !important;
  height: 200px !important;
}

.bagcontainer {
  background-color: #fcffe7;
}

.shoppingbagcontainer {
  position: relative;
}

.bagspan {
  position: absolute;
  cursor: pointer;
  color: #fcffe7;
  font-size: 1.4rem;
  font-weight: bold;
}

.categorycontainer {
  background-color: #fcffe7;
}

.category--background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgitem {
  width: 220px !important;
  height: 150px !important;
}

.itemprice {
  background-color: #bad7e9;
  padding: 0.5rem 1.2rem;
  color: #2b3467 !important;
}

.numberinput {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

.itembg {
  background-color: #2b3467;
}

.uruncontainer {
  border-top: 2px solid #eb455f;
  border-bottom: 2px solid #eb455f;
  position: relative;
}

.icindekiler {
  display: none;
  position: absolute;
  color: black;
  background-color: #bad7e9;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  z-index: 1;
}

.icindekiler .fa-times {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 1rem;
  padding-top: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}

.btnsupdown {
  font-weight: bolder !important;
}

.cartcontainer {
  background-color: #bad7e9;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: none;
}

.fa-facebook-official {
  color: #2b3467;
}

.fa-instagram {
  color: #2b3467;
}

.fa-twitter-square {
  color: #2b3467;
}

.categories {
  margin-bottom: 6rem;
}

.bottombar {
  z-index: 2;
  background-color: #bad7e9;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.bottombar i {
  cursor: pointer;
  color: #2b3467 !important;
}

.cartmodal {
  display: none;
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.cartmodal .container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.cartmodal .container .col-12 {
  background-color: #eb455f;
  opacity: 0.9;
  height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 600px) {
  .btnsupdown {
    padding: 0.2rem 0.5rem !important;
  }

  .imgitem {
    width: 220px !important;
    height: 100px !important;
  }

  .itemprice {
    padding: 0.15rem 0.4rem !important;
    color: #2b3467 !important;
  }

  .pricediv h4 {
    font-size: 1.1rem;
  }
}

.wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.wrapper a:nth-child(1) {
  background-color: green;
}

.wrapper a:nth-child(2) {
  background-color: blue;
}

.wrapper a:nth-child(3) {
  animation: 0.7s ease-out 0s 1 FadeIn;
  transition: all 0.3s;
}

.wrapper a:hover:nth-child(3) {
  background-color: red;
}

@keyframes FadeIn {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  position: absolute;
  bottom: 0px !important;
  z-index: -1;
  transition: all 2s;
}

.wrapper a {
  height: 60px;
  width: 60px;
  background: #000;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  margin: 2px;
}
