body {
  background-color: #fcffe7 !important;
}

button {
  background-color: #bad7e9 !important;
  border: #eb455f 1px solid !important;
}

.menu--header {
  background-color: #bad7e9;
}

.menu--header h1 {
  color: #2b3467;
}

.headerlogo {
  width: 250px !important;
  height: 200px !important;
}

.bagcontainer {
  background-color: #fcffe7;
}

.shoppingbagcontainer {
  position: relative;
}

.bagspan {
  position: absolute;
  cursor: pointer;
  color: #fcffe7;
  font-size: 1.4rem;
  font-weight: bold;
}

.categorycontainer {
  background-color: #fcffe7;
}

.category--background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgitem {
  width: 220px !important;
  height: 150px !important;
}

.itemprice {
  background-color: #bad7e9;
  padding: 0.5rem 1.2rem;
  color: #2b3467 !important;
}

.numberinput {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

.itembg {
  background-color: #2b3467;
  border-bottom: 2px solid #eb455f;
}

.btnsupdown {
  font-weight: bolder !important;
}

.cartcontainer {
  background-color: #bad7e9;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: none;
}

.fa-facebook-official {
  color: #2b3467;
}

.fa-instagram {
  color: #2b3467;
}

.fa-twitter-square {
  color: #2b3467;
}

.categories {
  margin-bottom: 6rem;
}

.bottombar {
  z-index: 2;
  background-color: #bad7e9;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.bottombar i {
  cursor: pointer;
  color: #2b3467 !important;
}

.cartmodal {
  display: none;
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.cartmodal .container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.cartmodal .container .col-12 {
  background-color: #eb455f;
  opacity: 0.9;
  height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 600px) {
  .btnsupdown {
    padding: 0.2rem 0.5rem !important;
  }

  .imgitem {
    width: 220px !important;
    height: 100px !important;
  }

  .itemprice {
    padding: 0.15rem 0.4rem !important;
    color: #2b3467 !important;
  }

  .pricediv h4 {
    font-size: 1.1rem;
  }
}
